<header class="section header">
   <div class="container">
     Header
   </div>
</header>
<nav class="section navigation">
  <div class="container">
    <classroom></classroom>
    <app-student [classN]="'ABC'"></app-student>
  </div>
</nav>
<section class="section main">
  <div class="container">
    <div class="row">
      <div class="col bg-danger">AAAA</div>
      <div class="col bg-primary">BBB</div>
      <div class="col bg-warning">CCCC</div>
      <div class="col bg-info">DDD</div>
    </div>
  </div>
</section>
<footer class="section footer">
  <div class="container">Footer</div>
</footer>
